{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Date et Heure de début</th>
                <td>{{ seance.dateDebut ? seance.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ seance.lang }}</td>
            </tr>
            {# <tr>
                <th>CreatedAt</th>
                <td>{{ seance.createdAt ? seance.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ seance.updatedAt ? seance.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('seance_index') }}">back to list</a>

    <a href="{{ path('create', {'id': seance.id}) }}">edit</a>

{% endblock %}
