{% extends "base.html.twig" %}

{% block title %} 
    {% if (isEditor) %}
        Edition de film
    {% else %}
       Ajout de films 
    {% endif %}    
{% endblock %}

{% block body %}

    {% if (isEditor) %}
        <h1 class="titre_form">Edition de film</h1 >
    {% else %}
        <h1 class"titre_form">Ajout de films</h1 >
    {% endif %}

    <div class="form_film">
        {{ form_start(form) }}

        {{ form_row(form.title, {'label': 'Titre : '})}}

        {{ form_row(form.realisateur, {'label': 'Réalisateur : '})}}

        {{ form_row(form.genre, {'label': 'Genre : '})}}

        {{ form_row(form.date, {'label': 'Date de parution : '})}}

        {{ form_row(form.duree, {'label': 'Durée du film : '})}}

        {{ form_row(form.status, {'label': 'Statut : '})}}

        {{ form_row(form.synopsis, {'label': 'Synopsis : '})}}

        {{ form_row(form.bandeAnnonce, {'label': 'Bande annonce (lien youtube https://www.youtube.com/watch?v=...) : '})}}

        {{ form_row(form.image, {'label': 'Image (optionnel) : '})}}
        <div class="add_or_return">
            {% if (isEditor) %}
                {{ form_row(form.save, {'label': 'Editer le film'})}}
            
            {% else %}

            {{ form_row(form.save, {'label': 'Ajouter le film'})}}
            
            {% endif %}
            {{ form_end(form) }}
            <a class="retour" href="{{ path('listing_film') }}">Retour</a>
        </div>
    </div>

    

{% endblock %}