{% extends "base.html.twig" %}

{% block title %} Films {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/listing.js') }}"></script>             
{% endblock %}

{% block body %}
    <div class="body_tableau">
        <div class="ajouter">
            <a href={{ path('create_film') }}> <button type="button" class="btn btn-primary" >Ajouter un film</button></a>
        </div>

        <div>
            <h2 class="titre_tableau">Gestion des films</h2>
        </div>
        <div class="div_tableau">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Réalisateur</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Date de parution</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Statut</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>

            <tbody>
                {% for film in films %}
                    <tr>
                        <th scope="row"> {{ loop.index }} </th>
                        <td> {{ film.title }} </td>
                        <td> {{ film.realisateur }} </td>
                        <td> {{ film.genre }} </td>
                        <td> {{ film.date|date('d-m-Y') }} </td>
                        <td> {{ film.duree }}min </td>
                        <td> {{ film.status }} </td>
                        <td class="details"><a href="{{ path('details', { 'id':film.id } )}}">détails</a></td>
                        <td class="modifier"><a href="{{ path('update_film', { 'id':film.id } )}}">modifier</a></td>
                        <td class="supprimer"><a href="{{ path('delete_film', { 'id':film.id } )}}">supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

        

{% endblock %}